<ion-content>
  <form (ngSubmit)="logForm()">
    <ion-list-header>
      <ion-label>Inscription</ion-label>
    </ion-list-header>
    <ion-item lines="full">
      <ion-label position="floating">Nom</ion-label>
      <ion-input type="text" required [(ngModel)]="user.nom" name="nom"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Prenom</ion-label>
      <ion-input type="text" required [(ngModel)]="user.prenom" name="prenom"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required [(ngModel)]="user.email" name="email"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Valider</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>