<ion-header>
  <ion-toolbar>
    <ion-title>ateliersInitiation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ateliers d'initiation</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item *ngFor="let item of hackathonAff " (click)="MonClickE(item)">

    <ion-card>

      <img src="{{item.image}}" />
      <ion-card-header>
        <ion-card-title>{{item.theme}}</ion-card-title>
        <ion-card-subtitle>DLI : {{fetchDate(item.date_limite)}}</ion-card-subtitle>
      </ion-card-header>

        <ion-card-content>
          Date : {{item.Date}}
        <br>
          Début : {{fetchDate(item.date_debut)}} à {{item.heure_debut}}
        <br>
          Lieu : {{item.ville}}
        </ion-card-content>
      
    </ion-card>
  </ion-item>
</ion-content>
